@model (Product product, List<Category> categories)

<h3 class="text-center">Ürün Güncelleme Sayfası</h3>

</div>
<form method="post" asp-controller="Product" asp-action="Edit">
    <div class="mb-3">
        <label class="form-label" asp-for="product.ProductName">Ürün İsmi</label>
        <input type="text" class="form-control" asp-for="product.ProductName" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="product.Description">Açıklaması</label>
        <input type="text" class="form-control" asp-for="product.Description" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="product.ExpirationDate">Son Kullanım Tarihi</label>
        <input type="date" class="form-control" asp-for="product.ExpirationDate" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="product.Quantity">Miktarı</label>
        <input type="text" class="form-control" asp-for="product.Quantity" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="product.StockNumber">Stok Sayısı</label>
        <input type="text" class="form-control" asp-for="product.StockNumber" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="product.CategoryID">Kategori</label>
        <select type="text" class="form-control" asp-for="product.CategoryID" asp-items="@(new SelectList(@Model.categories,"ID","CategoryName"))"></select>
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>