@model (List<Category> categories,List<Product> products)
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-12">
            <!-- Price Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Fiyata Göre Filtreleme</h5>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <input type="button" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>                      
                    </div>
                    <div class="custom-control  d-flex align-items-center justify-content-between mb-3">
                        <input type="button" class="custom-control-input" id="price-1">
                        <a asp-action="GetProductByPrice" asp-controller="Product" asp-route-id="1" class="custom-control-label" for="price-1">0 ₺ - 200 ₺</a>                       
                    </div>
                    <div class="custom-control  d-flex align-items-center justify-content-between mb-3">
                        <input type="button" class="custom-control-input" id="price-2">
                        <a asp-action="GetProductByPrice" asp-controller="Product" asp-route-id="2" class="custom-control-label" for="price-2">200 ₺ - 400 ₺</a>                      
                    </div>
                    <div class="custom-control  d-flex align-items-center justify-content-between mb-3">
                        <input type="button" class="custom-control-input" id="price-3">
                        <a asp-action="GetProductByPrice" asp-controller="Product" asp-route-id="3" class="custom-control-label" for="price-3">400 ₺ - 500 ₺</a>                       
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <input type="button" class="custom-control-input" id="price-4">
                        <a asp-action="GetProductByPrice" asp-controller="Product" asp-route-id="4" class="custom-control-label" for="price-4">500 ₺ Ve Üzeri</a>                      
                    </div>
            </div>
        </div>
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Arama Yap">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                @foreach (Product item in Model.products)
                {
            <a asp-action="ProductDetail" asp-controller="Product" asp-route-id=@item.ID>
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src=@item.ImageUrl>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@item.ProductName</h6>
                            <div class="d-flex justify-content-center">
                                <h6>@item.Price ₺</h6><h6 class="text-muted ml-2"><del>@{double old = item.Price + (item.Price % 30);} @old ₺</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-id=@item.ID class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ürüne Git</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                        </div>
                    </div>
                </div>
            </a>
                }
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
    </div>