@{ 
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<style>
    .msg-form {
        background-color: white;
        padding: 20px
    }
    .pad-icon {
        padding-top: 50px;
        padding-left: 20px
    }
    .pad-icon a {
            text-decoration: none;
            margin-right: 40px
        }
    .input-group input:focus {
        border: 1px solid blue
    }
    .pad-icon a:active {
        height: 30px;
        width: 30px;
        background-color: #0080ff;
        border-radius: 100%
    }
    .links {
        padding-top: 50px;
        width: 50%
    }
     #bordering a:active {
        border: 1px solid #0080ff
    }
    .container-fluid {
        margin: 100px 30px;
        width: 96%;
        padding-top: 50px;
        padding-bottom: 50px
    }
    .container-fluid {
        margin: 10px 10px;
        width: 94%;
        padding-top: 20px;
        padding-bottom: 20px
    }
    .pad {
        padding-top: 20px
    }
</style>

<div class="container-fluid rounded" style="background-color: darksalmon; text-align: center">
    <div class="row px-5">
        
            <div>
                <h3 class="text-white">Bizimle İletişime Geçin</h3>
                <p class="text-secondary">Instagram, Mail, Whatsapp Üzerinden Bizimle 7/24 İletişime Geçebilirseniz</p>
            </div>
            <div class="links" id="bordering" style="width: 70%; height: 350; padding-left: 270;">
                <a href="#" class="btn rounded text-white p-3">
                    <i class="fa fa-phone icon text-primary pr-3"></i>+90 535 106 4720
                </a>
                <a href="https://wa.me/905351064720" class="btn rounded text-white p-3">
                    <i class="fa fa-whatsapp icon text-primary pr-3"></i>Whatsapp Üzerinden İletişim Kurmak İçin Tıklayınız.
                </a>
                <a href="#" class="btn rounded text-white p-3">
                    <i class="fa fa-envelope icon text-primary pr-3"></i>akaykozmetik@gmail.com
                </a>
                <a href="#" class="btn rounded text-white p-3">
                    <i class="fa fa-map-marker icon text-primary pr-3"></i>Papuççular Mh. Bostancı Sok. No:29
                    ADAPAZARI/SAKARYA
                </a>
            </div>
            <div class="pt-lg-4 d-flex flex-row justify-content-start" style="width: 70%; padding-left: 330;">
                <div class="pad-icon"> <a class="fa fa-whatsapp text-white" href="https://wa.me/905351064720"></a> </div>
                <div class="pad-icon"> <a class="fa fa-facebook text-white" href="#"></a> </div>
                <div class="pad-icon"> <a class="fa fa-twitter text-white" href="#"></a> </div>
                <div class="pad-icon"> <a class="fa fa-instagram text-white" href="#"></a> </div>
            </div>
        
    </div>
</div>