<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5 text-center"><span class="px-2">Tüm sorularınız için bize ulaşabilirsiniz!</span></h2>
        <p class="text-center">Instagram, Mail, Whatsapp Üzerinden Bizimle 7/24 İletişime Geçebilirseniz</p>
    </div>
    <br /> <br />
    <div class="row px-xl-5">
        <div>
            <h5 class="font-weight-semi-bold mb-3 text-xl-center">Akay Kozmetik</h5>
            <p>Güvenli alışverişin adresi. Haftanın her günü açık olan dükkanımızda siz değerli müşterilerimizi ağırlamaktan memnuniyet duyarız. Bizimle iletişim kurmak isterseniz iletişim bilgilerimize aşağıdan ulaşabilirsiniz. Instagram, Mail, Whatsapp Üzerinden Bizimle 7/24 İletişime Geçebilirseniz!</p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3 text-xl-center">İletişim Bilgilerimiz</h5>
                <p class="mb-2 text-center">
                    <i class="fa fa-map-marker-alt text-primary mr-3"></i>Papuççular Mh. Bostancı Sok. No:29
                    ADAPAZARI/SAKARYA
                </p>
                <p class="mb-2 text-center"><i class="fa fa-envelope text-primary mr-3"></i>akaykozmetik@gmail.com</p>
                <p class="mb-2 text-center"><i class="fa fa-phone-alt text-primary mr-3"></i>0535 106 4720</p>
                <p class="mb-2 text-center">
                    <i class="fab fa-whatsapp text-primary mr-3"></i>
                    <a href="https://wa.me/905351064720" class="mb-2">
                        Whatsapp Üzerinden İletişim Kurmak İçin Tıklayınız
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>


