@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model (List<Category> categories, List<Product> products)

@section navbar {
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 410px;">
                <img class="img-fluid" src="img/kozmetik.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3">İhtiyacınız Olan Her Şey</h4>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Uygun Fiyatlarla</h3>
                        <a href="" class="btn btn-light py-2 px-3">Alışverişe Başla</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 410px;">
                <img class="img-fluid" src="img/raliss.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3">Kalitenin Adresi</h4>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Saç Boyaları Ve Daha Fazlası</h3>
                        <a href="" class="btn btn-light py-2 px-3">Alışverişe Başla</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shopping-cart text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Kaliteli Ürün</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Ücretsiz Kargo</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Memnuniyet Garantili</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">7/24 Destek</h5>
            </div>
        </div>
    </div>
</div>

<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        @foreach (Category item in Model.categories)
        {
            <div class="col-lg-4 col-md-6 pb-1" style="flex:auto">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <a href="">
                        <p class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src=@item.ImageUrl>
                        </p>
                        <h5 class="font-weight-semi-bold m-0">@item.CategoryName</h5>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<!-- Categories End -->
<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="img/offer-1.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Tüm Siparişlerinizde %20 İndirim</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Yeni Sezon Ürünler</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Alışverişe Başla</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="img/offer-2.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Tüm Siparişlerinizde %20 İndirim</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Tüm Ürünlerimiz</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Alışverişe Başla</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Popüler Ürünler</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (Product item in Model.products)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src=@item.ImageUrl>
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@item.ProductName</h6>
                        <div class="d-flex justify-content-center">
                            <h6>@item.Price ₺</h6><h6 class="text-muted ml-2"><del>@{double old = item.Price + (item.Price%30);} @old ₺</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ürüne Git</a>
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<!-- Products End -->


<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="img/vendor-1.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-2.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-3.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-4.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-5.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-6.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-7.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
